:root{
    --primary-color: rgb(202, 202, 172);
    --secondary-color: rgb(124, 124, 124);
    --bg-color: rgb(206, 174, 174);
    --font-color: rgb(64, 64, 64);
    --header-color:  rgb(170, 170, 248);
}

[data-theme="dark"]
{
    --primary-color: rgb(124, 124, 124);
    --secondary-color:rgb(202, 202, 172);
    --bg-color: rgb(49, 43, 43);
    --font-color: rgb(202, 202, 172);
    --header-color: rgb(124, 124, 202);
}



header{
    text-align: center;
    color: var(--font-color);

}
.theme-switch{
    display: flex;
    align-items: center;

}

#slide{
    display: none;
}

.switcher{
    display: inline-block;
    height: 35px;
    position: relative;
    width: 60px;

}

.switch {
    background-color: var(--header-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}

.switch::before{
    background-color: var(--font-color);
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .switch {
    background-color: #373837;
}
  
  input:checked + .switch:before {
    transform: translateX(26px);
}
  
.switch.circle {
    border-radius: 34px;
}
  
.switch.circle:before {
    border-radius: 50%;
}

body{

    margin:0;
    height: 100%;
    max-width: 100%;
    font-size: 2rem;
    background-color: var(--bg-color);
}
.math-op{
    display: flex;
    flex-direction: column;
}
.calc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 25rem;
    border: 1rem solid var(--primary-color);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.textArea{
    background-color: var(--secondary-color);
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 7rem;
    height: 20rem;
}

button{
    font-size: .7rem;
    width: 2rem;
    height: 2rem;
}

footer{
    text-align: center;
    color:var(--font-color)
}